@import 'src/sass/mixin';
@import 'src/sass/variable';

.register-top { 
    @include font(#000000,25px,(arial,sans-serif));
}

.container {
 height: 100vh;
}   

.card {
    max-width:170px;
    max-height:140px;
    height:120px;
    padding: 5px;
    font-size: 12px;
    border-radius: 10px;
}
 
  .first{
      @include background-color(#999966);
  }
  .second{
    @include background-color(#546e7a);
  }

  .text1 {
      font-size: 20px;
      margin-bottom: 10px;
      color: $white
  }
  
  .text2 {
    font-size: 14px;
    text-align: center;
    color: $white
    
} 



.footer {
    margin-top: 18px
}

.next_button {
    color: $white;
    @include background-color($sky-blue);
}