.sidenav-container {
  height: 90%;
  width: 100%;
  background-color:#f2f2f2
}

.sidenav {
  width: 280px;
 margin-top: 65px;
 box-shadow: none;
 background-color:#f2f2f2
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.tool-bar {
  background-color: #fb0;
  /* padding-right:0px */
}

.search-box {
  height: 40px;  
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  padding:0px;
}

.search-box input {
  border:none;
  outline: none;
  font-size: 16px;
  overflow: hidden;
}

.child-links {
  margin-left:20px;
  font-size: 14px;
}

.mat-list-item:hover {
  background-color: #fff7e6;
  border-radius: 0 25px 25px 0;
}

.mat-list-item {
  background-color: #f2f2f2;
  border-radius: 0 25px 25px 0;
}


.drop-down {
  background-color:#f2f2f2;
  color:#0d0d0d
}

.drop-down-button {
  width:450px;
  padding:5px
}

.icons {
  opacity: 0.5;
 
}

.icons:hover {
  opacity: 1.0;    
}

.label {
  padding: 10px;
  margin-left: 10px;
  font-size: 10px
}

.identity {
  font-size: 2vw;
  opacity: 0.8;
}



