<mat-toolbar class="tool-bar" fxLayout='row' fxLayout.xs="row" fxLayoutGap='20' fxLayoutGap.xs="20" fxLayout.sm="row"
fxLayout.md="row" fxLayoutGap.sm='5' fxLayoutGap.md='10' fxLayout.lg="row">
  <div *ngIf='!smallView' fxFlex=5>
      <button matTooltip="Main menu" type="button" aria-label="Toggle sidenav" 
      mat-icon-button (click)="drawer.toggle()"> 
      <mat-icon class="icons" aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  </div> 
  <div fxFlex *ngIf='!smallView' fxLayout='row' fxHide.xs = "true" fxLayoutGap='10px'>
      <span class='identity' fxShow fxHide.xs = "true"  >{{identify}}</span>
      <mat-card fxShow fxHide.xs = "true" fxFlex fxLayout='row' fxLayoutGap='10px' fxLayout.xs='row' class="search-box">
        <div  fxFlex=7>
            <button  mat-icon-button type="submit"><mat-icon>search</mat-icon></button>
        </div>
        <input placeholder="Search" fxFlex [(ngModel)]="searchText" 
            name="search" (click)='naviagteSearch()' (keydown)="dataTransfer()" type='text'>
        <button fxFlex=10 mat-icon-button type="submit"><mat-icon>clear</mat-icon></button> 
      </mat-card>
  </div> 
 
  <div fxHide fxFlex=70 fxShow.xs = "true"  *ngIf='smallView'>
      <mat-card   fxLayout='row' fxLayoutGap='20px' fxLayout.xs='row' class="search-box">
          <div  fxFlex=10> 
              <button (click)='onBackClick()'  mat-icon-button type="submit"><mat-icon>arrow_back</mat-icon></button>
          </div>
          <input placeholder="Search" fxFlex [(ngModel)]="searchText" 
              name="search" (click)='naviagteSearch()' (keydown)="dataTransfer()" type='text'>
          <div fxFlex=20>
            <button  mat-icon-button type="submit">
              <mat-icon>clear</mat-icon>
            </button>
          </div>  
        </mat-card>
  </div>

  <div fxFlex.xs fxFlex.sm fxFlex=20>
    <div  fxFlex>
    </div> 
    <div fxFlex fxFlex.xs fxFlex.sm fxLayoutAlign='end'>
        <div *ngIf='!smallView' fxHide fxShow.xs = "true">
            <button (click)='onSmallScreen()' mat-icon-button type="submit"><mat-icon>search</mat-icon></button>
        </div>
        <button class="icons" matTooltip="Refresh" fxFlex mat-icon-button 
          routerLink="/home"><mat-icon>refresh</mat-icon></button>
        <button class="icons" fxHide.xs = "true" *ngIf='notesView' (click)='changeView()' matTooltip="List view" 
          fxFlex mat-icon-button><mat-icon>view_stream</mat-icon></button>
        <button class="icons" fxHide.xs = "true" *ngIf='!notesView' (click)='changeView()' matTooltip="Grid view" 
          fxFlex mat-icon-button><mat-icon>grid_on</mat-icon></button>
        <div>
            <button *ngIf='savedUrl == ""' matTooltip="Fundoo account : {{userName}}" fxFlex 
            mat-mini-fab class='drop-down' [matMenuTriggerFor]="appMenu">{{userName | titlecase | slice:0:1}}</button>
          <button mat-card-avatar *ngIf='savedUrl != ""' [ngStyle]="{'background-image': 'url(' + url + ')','background-size': 'cover'}"
            matTooltip="Fundoo account : {{userName}}" fxFlex mat-mini-fab class='drop-down' [matMenuTriggerFor]="appMenu"></button>
        </div>
        <mat-menu class="notifications-dropdown" #appMenu="matMenu" [overlapTrigger]="false">
          <ng-template matMenuContent>
            <div class="padding-container" fxLayout='row' >
              <div fxLayout='row' fxFlex=35 fxlayoutAlign='space-between'>
                <button (click)="$event.stopPropagation();" class="display-image" *ngIf='savedUrl == ""'  mat-mini-fab>
                <div class="display-name">
                    {{userName | titlecase | slice:0:1}} 
                </div> 
                <div class="change-button" (click)="selectImage.click()">
                  Change
                </div>
              </button>
                 
                <div fxFlex (click)="$event.stopPropagation();" class="display-image-show" (click)="imageUpload()" mat-card-avatar 
                *ngIf='savedUrl != ""' [ngStyle]="{'background-image': 'url(' + url + ')','background-size': 'cover'}"><button class="image-change-button" mat-button>Change</button></div>
                <input (click)="$event.stopPropagation();" class="display-none" type="file" (change)="onImageUpload($event)" #selectImage>
              
              </div>
              <div fxFlex fxLayout='column'> 
                <div class="display-user">{{userName}}</div>
                <div class="display-user">{{email}}</div>
              </div>
            </div> 
            <hr> 
            <div fxLayout='row' fxLayoutGap="30px">
              <button fxFlex class="drop-down-button" mat-raised-button (click)=logout()>Signout </button>
            </div>
          </ng-template>
        </mat-menu>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
     <mat-nav-list class="side-nav-list">
      <a mat-list-item (click)='changeIdentity("fundooNotes")' class="links" routerLink="/home/notes" routerLinkActive="active-list-item">
        <img src="../../../assets/images/notes.svg"><span class="child-links">Notes</span></a>
      <a mat-list-item (click)='changeIdentity("Reminders")' routerLink="/home/reminders" routerLinkActive="active-list-item">
        <img src="../../../assets/images/reminders.svg"><span class="child-links">Reminders</span></a>
      <hr>
      <p class="label">LABELS</p>
      <div *ngFor = 'let labels of labelList'>
        <a mat-list-item (click)='changeIdentity(labels.label)' routerLink="/home/labels/{{labels.label}}" routerLinkActive="active-list-item">
          <mat-icon>label_outline</mat-icon><span class="child-links">{{labels.label}}</span></a>
      </div>
      <a mat-list-item (click)='createLabel()'><mat-icon>edit</mat-icon><span class="child-links">Edit labels</span></a>
      <hr> 
      <a (click)='changeIdentity("Archive")' mat-list-item routerLink="/home/archive" routerLinkActive="active-list-item">
        <img src="../../../assets/images/archives.svg">
        <span class="child-links">Archive</span></a>
      <a (click)='changeIdentity("Trash")' mat-list-item routerLink="/home/trash" routerLinkActive="active-list-item">
        <mat-icon>delete</mat-icon><span class="child-links">Trash</span></a>
   </mat-nav-list> 
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>