<button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="appMenu">
      <mat-icon>color_lens</mat-icon></button>
<mat-menu #appMenu="matMenu" [overlapTrigger]="false">
      <ng-template matMenuContent>
        <div class="padding-container"> 
            <div fxLayout=row fxLayoutGap=10px class="space"
                *ngFor='let colors of colorArray'>
                    <div *ngFor='let color of colors'>
                        <button class="color" [ngStyle]="{'background-color': color.color }" 
                            (click)='changeColor(color.color)' matTooltip="{{color.name}}"
                                mat-mini-fab></button>
                    </div>
            </div>
        </div>
        </ng-template>
</mat-menu>