<button mat-icon-button (click)='changeMenu()' matTooltip="more" 
    [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #appMenu="matMenu" [overlapTrigger]="false">
    <div>
        <button mat-menu-item *ngIf='!labelMenu  && componentName != "trash"' 
            (click)='deleteCard(true)' class="options">
            Delete note
        </button>
        <button mat-menu-item *ngIf='!labelMenu && componentName == "trash"' 
            (click)='deleteLabelConfirmation()' class="options">
            Delete Forever
        </button>
        <button mat-menu-item *ngIf='!labelMenu && componentName == "trash"' 
            (click)='deleteCard(false)' class="options">
            Restore 
        </button>
        <button mat-menu-item *ngIf='!labelMenu && componentName != "trash"' 
            (click)="$event.stopPropagation();" (click)='changeMenu()'
            (click)='getLabel()' class="options">
            Add label 
        </button>
        <button mat-menu-item *ngIf='!labelMenu && componentName != "trash"' 
            (click)="$event.stopPropagation();"  (click)='askQuestion()'
            class="options">
            Ask a question
        </button>
        <div *ngIf='labelMenu'>
            <div class="label-menu">Label note</div>
            <div>
                <div (click)="$event.stopPropagation();" (click)='addLabelName()' 
                    class="mouse-cursor" fxFlex=10>
                    <mat-icon>add</mat-icon>
                </div>
                <input autofocus class="input-label" [(ngModel)]='newLabelName'
                    (click)="$event.stopPropagation();" 
                    placeholder='Enter label name' type="text">
            </div>
            <label (click)="$event.stopPropagation();" fxLayout='column'
                *ngFor="let option of myArray | search : newLabelName">
                <div fxLayout='row' (click)="$event.stopPropagation();" class="label-array">
                    <input  (click)="$event.stopPropagation();" (click)='onClick(option)' 
                        type="checkbox" [checked]='isSelected(option)' />
                    <div fxFlex=80 class="label-display">{{option.label}}</div>
                </div>
            </label>
        </div>
    </div>
</mat-menu>