<div  fxLayout='row' style="margin-top:30px ">
  <div fxFlex=10 fxFlex.xs=0>
  </div> 
  <div fxFlex fxLayoutAlign='center' fxFlex.xs=100>
    <mat-card *ngIf="show" class="note-card">
      <mat-card-content fxLayout='row'  fxLayout.xs='row'  style="margin-left:15px">
        <div fxFlex (click)="open()" fxFlex style="margin-top:12px">
          Take a note...
        </div> 
        <div fxFlex fxLayout='row' fxLayout.xs='row' fxLayoutGap.xs="10px" 
          fxLayoutAlign="end" fxLayoutAlign.xs="center">
          <button fxFlex=30 mat-icon-button class="icons" (click)='checkList = true' 
            (click)='show = !show' matTooltip="New list"><mat-icon>list</mat-icon>
          </button>
        </div>
      </mat-card-content> 
    </mat-card>
    <mat-card [ngStyle]="{'background-color': colorCode }" *ngIf="!show" 
      class="note-card-edit">
      <mat-card-content>
        <div fxLayout='row' fxLayout.xs='row'>
          <div fxFlex=98 contenteditable="true"
           (input)="notesContent.title=$event.target.innerText" placeholder="Title"> </div>
          <div fxFlex class="icons" matTooltip="Pin note">
            <img src="../../../assets/images/pin.svg"></div>
        </div>
        <div *ngIf="!checkList" style="margin-top:20px" contenteditable="true" 
         (input)="notesContent.description=$event.target.innerText" 
          placeholder="Take a note..."></div>
        <div *ngIf="checkList"  style="margin-top:20px">
          <div *ngFor = "let name of listArray ; let index = index;trackBy:trackByIndex;">
            <div *ngIf='name.isDeleted == false'>
            <mat-checkbox style="margin-right:10px" (click)='strike(index)'  (click)="$event.stopPropagation();"> </mat-checkbox>
            <input [ngStyle]="{'background-color': colorCode }" (keyup.enter)="setFocus()" autofocus type="text" style="outline:none;border:none;width:520px" [(ngModel)]='listArray[index].listName'>
            <button  mat-icon-button type="submit" (click)='removeList(index)' ><mat-icon>clear</mat-icon></button> 
          </div>
          </div>
          <hr>
          <div> 
            <div fxFlex=5><mat-icon>add</mat-icon></div> 
            <input #myListInput [ngStyle]="{'background-color': colorCode }" type="text" style=" outline:none; border:none;" (keyup.enter)="onKey()" placeholder="List item" [(ngModel)]='listName'>
          
          </div>
        <hr>
        <div *ngFor = "let name of listArray ; let index = index;trackBy:trackByIndex;">
        <div *ngIf='name.isDeleted == true'>
          <mat-checkbox class="primary" style="margin-right:10px" [checked]='name.isChecked' (click)='strike(index)' (click)="$event.stopPropagation();"></mat-checkbox>
          <input [ngStyle]="{'background-color': colorCode }" (keyup.enter)="setFocus()" autofocus type="text" class="strike" [(ngModel)]='listArray[index].listName'>
          <button mat-icon-button type="submit" (click)='removeList(index)'><mat-icon>clear</mat-icon></button> 
        </div>
      </div>
          </div> 
         
        <div style="padding-top:20px">
            <mat-chip-list>
                <mat-chip *ngFor = 'let index of selectLabelArray'>
                  <span style="border:none;outline:none" (click)='onLabelClick(index)' routerLink="/home/labels/{{index}}">{{index}}</span>
                  <mat-icon matChipRemove
                  (click)='cancelNoteLabel(index)'>cancel</mat-icon></mat-chip>
              </mat-chip-list>
        </div>

        <div style="padding-top:20px">
            <mat-chip-list>
                  <div *ngFor = 'let reminder of selectRemainderArray'>
                    <div *ngIf="(todayDate | date:'dd/MM/yyyy') == (reminder | date:'dd/MM/yyyy')">
                      <div *ngIf="compareDate(reminder)">
                      <mat-chip [matMenuTriggerFor]="edit.menu">
                       <del>Today, {{reminder | date:"mediumTime"}}</del><span style="margin-top:5px"><mat-icon matChipRemove (click)='cancelRemainder()'>cancel</mat-icon></span>
                        <app-remind-icon #edit="menuInOtherComponent" [hideIcon]='reminderEdit' [notesDetails]='componentName' (reminderArrayEvent)="reminderEventClicked($event)"></app-remind-icon>
                      </mat-chip>
                      </div>
                      <div *ngIf="!compareDate(reminder)">
                          <mat-chip [matMenuTriggerFor]="edit.menu">
                              Today, {{reminder | date:"mediumTime"}}<span style="margin-top:5px"><mat-icon matChipRemove (click)='cancelRemainder()'>cancel</mat-icon></span>
                            <app-remind-icon #edit="menuInOtherComponent" [hideIcon]='reminderEdit' [notesDetails]='componentName' (reminderArrayEvent)="reminderEventClicked($event)"></app-remind-icon>
                          </mat-chip>
                          </div>
                    </div>

                    <div *ngIf="(tomorrowDate | date:'dd/MM/yyyy') == (reminder | date:'dd/MM/yyyy')">
                      <mat-chip [matMenuTriggerFor]="edit.menu">
                        Tomorrow, {{reminder | date:"mediumTime"}}<span style="margin-top:5px"><mat-icon matChipRemove (click)='cancelRemainder()'>cancel</mat-icon></span>
                        <app-remind-icon #edit="menuInOtherComponent" [hideIcon]='reminderEdit' [notesDetails]='componentName' (reminderArrayEvent)="reminderEventClicked($event)"></app-remind-icon>
                      </mat-chip>
                    
                    </div>
                    <div *ngIf="(todayDate | date:'dd/MM/yyyy') != (reminder | date:'dd/MM/yyyy') && (tomorrowDate | date:'dd/MM/yyyy') != (reminder | date:'dd/MM/yyyy')">
                      <div *ngIf="compareDate(reminder)">
                        <mat-chip [matMenuTriggerFor]="edit.menu">
                          <del>{{reminder | date:"medium"}}</del> <span style="margin-top:5px"><mat-icon matChipRemove (click)='cancelRemainder()'>cancel</mat-icon></span>
                          <app-remind-icon #edit="menuInOtherComponent" [hideIcon]='reminderEdit' [notesDetails]='componentName' (reminderArrayEvent)="reminderEventClicked($event)"></app-remind-icon></mat-chip>

                        </div>
                        <div *ngIf="!compareDate(reminder)">
                          <mat-chip [matMenuTriggerFor]="edit.menu">
                            {{reminder | date:"medium"}} <span style="margin-top:5px"><mat-icon matChipRemove (click)='cancelRemainder()'>cancel</mat-icon></span>
                            <app-remind-icon #edit="menuInOtherComponent" [hideIcon]='reminderEdit' [notesDetails]='componentName' (reminderArrayEvent)="reminderEventClicked($event)"></app-remind-icon>
                          </mat-chip>
                        
                        </div>
                    </div>
                  </div>
              </mat-chip-list>
        </div>
        </mat-card-content> 
      <mat-card-actions>
        <div fxLayout='row' fxLayoutGap='space-between' fxLayout.xs='row'>
          <div  class="icons"> 
            <app-remind-icon [notesDetails]='componentName'
              (reminderArrayEvent)="reminderEventClicked($event)">
            </app-remind-icon>
          </div>
          <div  class="icons">
            <app-collaborator-icon></app-collaborator-icon>
          </div>
          <div  class="icons">
            <app-color-icon  (colorCodeEvent)="receiveColor($event)" >
            </app-color-icon>
          </div>
          <div  class="icons"> 
            <app-image-icon></app-image-icon>
          </div>
          <div  class="icons">  
            <app-archive-icon [notesDetails]='noteArchive' 
              (archiveEvent)="archiveEventClicked($event)">
            </app-archive-icon>
          </div>
          <div class="icons"> 
              <button  mat-icon-button (click)='changeMenu()' matTooltip="more" 
                [matMenuTriggerFor]="appMenu"><mat-icon>more_vert</mat-icon>
              </button> 

              <mat-menu  #appMenu="matMenu" [overlapTrigger]="false"> 
              <button mat-menu-item *ngIf='!labelMenu' (click)="$event.stopPropagation();" 
                (click)='changeMenu()' style="height: 50px;">Add label
              </button> 
                <div  *ngIf='labelMenu'>
                  <div class="label-note">Label note</div>
                  <div>
                      <div (click)="$event.stopPropagation();" (click)='addLabelName()' 
                        style="cursor:pointer" fxFlex=10><mat-icon>add</mat-icon>
                      </div>
                      <div (click)="$event.stopPropagation();" class="label-create" 
                        contenteditable="true" cdkFocusInitial placeholder='Enter label name'  
                        onkeypress="return (this.innerText.length <= 75)" 
                        (input)="newLabelName=$event.target.innerText">
                      </div> 
                  </div>
                   <label fxLayout = 'column' *ngFor="let option of myArray | search : newLabelName">
                     <div class="label-menu">
                         <input (click)="$event.stopPropagation();" (click)='onClick(option)' 
                          type="checkbox"
                         [(checklist)]="list"
                         [checklistValue]="option" >{{option.label}}
                     </div>   
                     </label> 
                </div>             
                </mat-menu>
          </div>
          <div fxFlex class="icons">
            <app-icons (messageEvent)="receiveMessage($event)"></app-icons>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex=10 fxFlex.xs=0>
  </div> 
</div> 