<div  fxLayout='column' fxLayoutAlign="center center" style="margin-top:30px ">
    <mat-card fxFlex   *ngIf="show" class="example-card" style="  width:50%; padding: 0; border-radius: 10px">
      <mat-card-content fxLayout='row' fxLayout.xs='row' style="margin-left:15px">
        <div (click)="open()" fxFlex style="margin-top:12px">
          Take a note...
        </div> 
  
        <div fxFlex=40 fxLayout='row' fxLayout.xs='row' fxLayoutGap.xs="10px" fxLayoutAlign="end" fxLayoutAlign.xs="center">
          <button fxFlex=20 mat-icon-button class="icons" matTooltip="New list"><mat-icon>list</mat-icon></button>
          <button fxFlex=20 mat-icon-button class="icons" matTooltip="New note with image"><mat-icon>image</mat-icon></button>
          <button fxFlex=20 mat-icon-button class="icons" matTooltip="Drawing"><mat-icon>brush</mat-icon></button>
        </div>
  
      </mat-card-content>
  
    </mat-card>
  
    <mat-card   fxFlex *ngIf="!show" class="example-card" style=" width:50%; ;position: relative;padding: 5;border-radius: 10px">
  
      <mat-card-content>
        <div fxLayout='row' fxLayout.xs='row'>
          <div fxFlex=98 contenteditable="true"
           (input)="notesContent.title=$event.target.innerText" placeholder="Title"> </div>
          <div fxFlex class="icons" matTooltip="Pin note"><img src="../../../assets/images/pin.svg"></div>
        </div>
  
        <div style="margin-top:20px" contenteditable="true" 
         (input)="notesContent.description=$event.target.innerText" placeholder="Take a note..."></div>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout='row' fxLayout.xs='row'>
          <div fxFlex=7 class="icons">
            <app-remind-icon></app-remind-icon>
          </div>
          <div fxFlex=7 class="icons">
            <app-collaborator-icon></app-collaborator-icon>
          </div>
          <div fxFlex=7 class="icons">
            <app-color-icon></app-color-icon>
          </div>
          <div fxFlex=7 class="icons">
            <app-image-icon></app-image-icon>
          </div>
          <div fxFlex=7 class="icons">
            <app-archive-icon></app-archive-icon>
          </div>
          <div fxFlex=7 class="icons">
            <app-more-icon></app-more-icon>
          </div>
          <div fxFlex class="icons">
            <app-icons (messageEvent)="receiveMessage($event)"></app-icons>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  
  </div> 