[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block;
   
  }
  
  div[contenteditable=true] {
    outline: none;
  }
  
  .icons {
    opacity: 0.5;
   
}

.icons:hover {
    opacity: 1.0;    
}