[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block;
   
  }
  
  div[contenteditable=true] {
    outline: none;
  }
  
  .icons {
    opacity: 0.5;
   
}
.icons:hover {
    opacity: 1.0;    
}

.note-card {
  width:600px; 
  padding: 0; 
  border-radius: 10px
}

.note-card-edit {
  width:600px;
  padding:5;
  border-radius: 10px
}

.label-menu {
  font-size:14px;
  padding-top: 10px
}

.label-create {
  padding-top:5px;
  font-size:12px;
  white-space: nowrap;
  overflow: hidden !important;
}

.label-note {
  width:250px; 
  padding:10px; 
  font-size:14px
}

.strike {   
  outline:none;
  border:none;
  width:520px;
  text-decoration: line-through 
}



