<div fxLayout='row'>
  <div fxFlex=15> 
  </div>
  <div fxFlex=80 fxLayout='row wrap row wrap' fxLayoutGap=20px style="margin-top: 40px" fxLayout.xs='column'>
    <div  fxLayout='row wrap'>
      <div  *ngFor='let index of notesListArray | search:searchText' >
        <mat-card  [ngStyle]="{'background-color': index.color }" [ngClass]="{'mat-card-grid':notesView,'mat-card-list':!notesView}">
          <mat-card-content (click)='openDialog(index)'>
            <div fxLayout='row' fxLayout.xs='row'> 
              <div fxFlex=98 style=" font-weight: bold; word-wrap: break-word; margin-left: 10px">
                {{index.title}}
              </div>
              <div fxFlex class="icons" matTooltip="Pin note"><img src="../../../assets/images/pin.svg"></div>
            </div>
            <p style="word-wrap: break-word; margin-left: 10px">
              {{index.description}} 
            </p>
            <div>
              <mat-chip-list>
                <div *ngFor='let label of index.noteLabels'>
                  <mat-chip *ngIf='label.isDeleted == false'>
                    {{label.label}}<span style="margin-top:5px"><mat-icon matChipRemove (click)='deleteNoteLabel(label.id,index.id)'>cancel</mat-icon></span></mat-chip>
                </div>
              </mat-chip-list>
            </div>  
          </mat-card-content>
          <mat-card-actions>
            <div fxLayout='row' fxLayoutAlign='space-between' class="icons-hide">
              <div *ngIf='componentName != "trash"'  class="icons">
                <app-remind-icon></app-remind-icon>
              </div>
              <div *ngIf='componentName != "trash"'  class="icons">
                <app-collaborator-icon></app-collaborator-icon> 
              </div>
              <div *ngIf='componentName != "trash"'  class="icons">
                <app-color-icon (colorEvent)="childEventClicked($event)" [notesDetails]="index"></app-color-icon>
              </div>
              <div *ngIf='componentName != "trash"'  class="icons">
                <app-image-icon></app-image-icon>
              </div>
              <div *ngIf='componentName != "trash"' class="icons">
                <app-archive-icon (archiveEvent)="archiveEventClicked($event)" (unArchiveEvent)="unArchiveEventClicked($event)" [notesDetails]="index"></app-archive-icon>
              </div>
              <div  class="icons">
                <app-more-icon (eventClicked)="childEventClicked($event)" [componentName]="componentName" [notesDetails]="index"></app-more-icon>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div fxFlex>
  </div>
</div>