<div fxLayout='row' fxLayout.xs='row' fxLayout.sm='row' fxLayout.md='row' style=" margin-top: 40px">
  <div fxFlex=5 fxFlex.xs=0 fxFlex.sm=0>   
  </div>
  <div fxFlex style="width:500px"  fxFlex.xs=100 fxFlex.sm=100>
  <div  fxLayout='row wrap' fxLayoutAlign='center' fxLayoutGap='10px'   fxFlex.xs=100 style="width:500px">
    <div  style="padding:10px" *ngFor='let index of notesListArray | search:searchText'>
          <mat-card [ngStyle]="{'background-color': index.color }" [ngClass]="{'mat-card-grid':notesView,'mat-card-list':!notesView}">
              <mat-card-content (click)='openDialog(index)'>
                <div fxLayout='row' fxLayout.xs='row'> 
                  <div fxFlex=98 style=" font-weight: bold; word-wrap: break-word; margin-left: 10px">
                    {{index.title}} 
                  </div>
                  <div fxFlex class="icons-collection" matTooltip="Pin note"><img src="../../../assets/images/pin.svg"></div>
                </div>
                <p style="word-wrap: break-word; margin-left: 10px">
                  {{index.description}} 
                </p>
                <div style="margin-bottom:5px" *ngFor='let list of index.noteCheckLists'>
                  <div *ngIf='list.status == "open" && list.isDeleted == false'>
                      <mat-checkbox (click)="$event.stopPropagation();" style="margin-right:10px" (click)='updateChecklist(list,index)'></mat-checkbox>{{list.itemName}}
                  </div>
                </div>
              
                <div style="margin-bottom:5px" *ngFor='let list of index.noteCheckLists'>
                   <div  *ngIf='list.status == "close" && list.isDeleted == false'>
                      <mat-checkbox style="margin-right:10px"
                       (click)="$event.stopPropagation();" (click)='updateChecklist(list,index)' [checked]='true'> </mat-checkbox>
                      <span style="text-decoration: line-through">{{list.itemName}}</span>  
                   </div>
                  </div>
                <div>
                  <mat-chip-list>
                    <div *ngFor='let label of index.noteLabels'>
                      <mat-chip *ngIf='label.isDeleted == false'>
                        {{label.label}}<span style="margin-top:5px"><mat-icon matChipRemove (click)='deleteNoteLabel(label.id,index.id)'>cancel</mat-icon></span></mat-chip>
                    </div>
                  </mat-chip-list>
                  <div style="margin-top:10px">
                    <mat-chip-list>
                      <div *ngFor='let reminder of index.reminder'>
                        <div 
                        *ngIf="(todayDate | date:'dd/MM/yyyy') == (reminder | date:'dd/MM/yyyy')" >
                        <mat-chip >
                            Today, {{reminder | date:"mediumTime"}}<span style="margin-top:5px"><mat-icon matChipRemove (click)='deleteRemainder(index.id)'>cancel</mat-icon></span></mat-chip>
                        </div>

                        <div 
                        *ngIf="(tomorrowDate | date:'dd/MM/yyyy') == (reminder | date:'dd/MM/yyyy')" >
                        <mat-chip >
                            Tomorrow, {{reminder | date:"mediumTime"}}<span style="margin-top:5px"><mat-icon matChipRemove (click)='deleteRemainder(index.id)'>cancel</mat-icon></span></mat-chip>
                        </div>

                        <div *ngIf="(todayDate | date:'dd/MM/yyyy') != (reminder | date:'dd/MM/yyyy') && (tomorrowDate | date:'dd/MM/yyyy') != (reminder | date:'dd/MM/yyyy')">

                          <div *ngIf="(todayDate | date:'dd/MM/yyyy') > (reminder | date:'dd/MM/yyyy') ; else higherDate">
                            <mat-chip >
                              <del>{{reminder | date:"medium"}}</del> <span style="margin-top:5px"><mat-icon matChipRemove (click)='deleteRemainder(index.id)'>cancel</mat-icon></span></mat-chip>
                          </div>
                            <ng-template #higherDate>
                              <mat-chip >
                                {{reminder | date:"medium"}} <span style="margin-top:5px"><mat-icon matChipRemove (click)='deleteRemainder(index.id)'>cancel</mat-icon></span></mat-chip>
                            </ng-template>
                        </div>
                       
                      </div>
                    </mat-chip-list> 
                  </div>
                 
                </div>  
              </mat-card-content> 
              <mat-card-actions class="icons-collection"> 
                <div fxLayout='row'  fxLayoutAlign='space-between' >
                  <div *ngIf='componentName != "trash"' class="icons" >
                    <app-remind-icon (reminderEventClicked)="childEventClicked($event)" [notesDetails]="index"></app-remind-icon>
                  </div>
                  <div *ngIf='componentName != "trash"' class="icons"> 
                    <app-collaborator-icon></app-collaborator-icon> 
                  </div>
                  <div *ngIf='componentName != "trash"' class="icons">
                    <app-color-icon (colorEvent)="childEventClicked($event)" [notesDetails]="index"></app-color-icon>
                  </div>
                  <div *ngIf='componentName != "trash"' class="icons">
                    <app-image-icon></app-image-icon>
                  </div>
                  <div *ngIf='componentName != "trash"' class="icons">
                    <app-archive-icon (archiveEvent)="archiveEventClicked($event)" (unArchiveEvent)="unArchiveEventClicked($event)" [notesDetails]="index"></app-archive-icon>
                  </div>
                  <div>
                    <app-more-icon (eventClicked)="childEventClicked($event)" [componentName]="componentName" [notesDetails]="index"></app-more-icon>
                  </div>
                </div>
              </mat-card-actions> 
            </mat-card>
    </div>
  </div>
</div>
  <div fxFlex.xs=0 fxFlex.sm=0 fxFlex=5 fxFlex.xs=0>
  </div>
</div>