.mat-card-grid {
    /* margin: 10px; */
    width:200px;
    border-radius: 10px
  }

  .mat-card-list {
    margin-bottom: 15px;
    width:550px;
    border-radius: 10px
  }

.icons {
    opacity: 0.5;
   
}

.icons:hover {
    opacity: 1.0;    
}

.icons-hide {
    opacity: 0;
}

.icons-hide:hover {
    opacity: 1.0;    
}