.mat-card-grid {
    /* margin: 10px; */
    width:220px;
    border-radius: 10px
  }

  .mat-card-list {
    margin-bottom: 15px;
    width:550px;
    border-radius: 10px
  }

.icons-collection {
    opacity: 0;
}

.mat-card-grid:hover .icons-collection {
    opacity: 1.0;
}


.icons:hover {
    opacity: 1.0;    
}

.icons-hide {
    opacity: 0;
}

.icons-hide:hover {
    opacity: 1.0;    
}

.labels-chip {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
    border:none;
    outline:none;
}

