
@import 'src/sass/variable';
@import 'src/sass/mixin';

.mat-card-grid { 
    /* margin: 10px; */
    width:220px;
    border-radius: 10px
  }

  .mat-card-list {
    margin-bottom: 15px;
    width:550px;
    border-radius: 10px
  }

.icons-collection {
    @include opacity(0);
}

.mat-card-grid:hover .icons-collection {
    @include opacity(1.0);
}


.icons:hover {
    @include opacity(1.0);   
}

.icons-hide {
    @include opacity(0);
}

.icons-hide:hover {
    @include opacity(1.0);   
}

.labels-chip{
    @include word-overflow;
}

.chip {
    max-width: 100px;
}

.added-person {
    @include background-color(#f5e4d4);
    color:black
}

.container {
    margin-top: 40px
}

.title {
    font-weight: bold; 
    word-wrap: break-word; 
    margin-left: 10px
}

.description {
    word-wrap: break-word;  
    margin-left: 10px
}

.check-list {
    margin-bottom:5px
}

.list-check-box {
    margin-right:10px
}

.strike {
    text-decoration: line-through
}

.options {
    margin-top:10px
}

.reminder {
    margin-top:5px
}

.notes-collection {
    @include padding(10px); 
}