<button mat-icon-button matTooltip="Remind me" [matMenuTriggerFor]="appMenu"><img src="../../../assets/images/reminders.svg"></button>
<mat-menu #appMenu="matMenu" [overlapTrigger]="false">  
    <p class="mat-menu-style-p">Reminder:</p>
    <button mat-menu-item>Later today <span class="mat-menu-item-span">8:00 PM</span></button>
  <button mat-menu-item>Tomorrow <span class="mat-menu-item-span">8:00 AM</span></button>
  <button mat-menu-item>Next week <span class="mat-menu-item-span">Mon, 8:00 AM</span></button>
  <button mat-menu-item [matMenuTriggerFor]="pickTime"><mat-icon>access_time</mat-icon>Pick date & time</button>
  <button mat-menu-item><mat-icon>location_on</mat-icon>Pick place </button>
</mat-menu>

<mat-menu #pickTime="matMenu" [overlapTrigger]="false">
  <p class="mat-menu-style-p">Pick date & time</p>
  <hr style="opacity:0.2">
  <mat-form-field class="mat-menu-style-p">
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="mat-menu-style-p">
    <input (click)="$event.stopPropagation();" matInput style="width:90%" placeholder="8:30 PM">
    <mat-icon style="float:right">arrow_drop_down</mat-icon>
  </mat-form-field>
</mat-menu>