
<div fxLayout='row' fxLayoutAlign="center center" 
        fxLayoutAlign.xs="center"  fxLayout.xs="column" class="container">
        <mat-card fxLayout='column' fxLayout.xs='column' fxFlex="40" fxFlex.lg="40" fxFlex.md="40" fxFlex.xs="100" class="login-form">
                <div  class="top1" fxLayoutAlign="center">
                        <span class="top1_1">f</span>
                        <span class="top1_2">u</span>
                        <span class="top1_3">n</span>
                        <span class="top1_1">d</span>
                        <span class="top1_4">o</span>
                        <span class="top1_2">o</span>
                        <span class="top1_1">N</span>
                        <span class="top1_2">o</span>
                        <span class="top1_3">t</span>
                        <span class="top1_1">e</span>
                        <span class="top1_4">s</span>
                </div>
                <div  fxLayout='column' *ngIf=value fxLayoutGap="50px" fxLayoutGap.xs="50px">
                                <div fxFlex class="top2" fxLayoutAlign="center">Sign in </div>
                                <div fxFlex fxLayoutAlign="center" class="fields_empty">
                                        {{emptyEmail}}
                                </div>
                                <mat-form-field fxLayout='column' fxFlex fxLayoutAlign="center" fxFlex="50" 
                                        class="email-input">
                                        <input matInput placeholder="Email" id="email" #email="ngModel" required 
                                                pattern="[a-z0-9]+[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                                                        [(ngModel)]="userLogin.email">
                                        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)" 
                                        class="alert alert-danger">
                                                <div *ngIf="email.errors.required">
                                                        email is required.
                                                </div>
                                                <div *ngIf="email.errors.pattern">
                                                        Invalid mail.
                                                </div>
                                        </mat-error>
                                </mat-form-field>
                                <div fxLayout='row' fxLayout.xs='column' fxLayoutAlign='space-between'>
                                        <a mat-button routerLink="/register">Create account</a>
                                        <button mat-raised-button color="primary" (click)='toggle()'>Next</button>
                                </div>
                </div>
                <div *ngIf='forgotPassword && !value'  @flyInOut  fxLayout='column' fxLayoutGap="50px" fxLayoutGap.xs="50px">
                        <div fxFlex class="top2" fxLayoutAlign="center">Sign in </div>
                        <div fxFlex fxLayoutAlign="center" class="fields_empty">
                                {{emptyPassword}}
                        </div>
                        <mat-form-field fxLayout='column' fxFlex fxLayoutAlign="center" fxFlex="50">
                                <input matInput id="password" placeholder="Enter your password" 
                                        [(ngModel)]="userLogin.password" 
                                        [type]="hide ? 'text' : 'password'">
                                <mat-icon matSuffix (click)="hide = !hide">
                                        {{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                        <div fxLayout='row' fxLayout.xs='column' fxLayoutAlign='space-between'>
                                <a mat-button (click)='userForgotPassword()'>Forgot password?</a>
                                <button mat-raised-button color="primary" (click)='toggle1()'>Next</button>
                        </div>
                </div>
                <!-- Forgot password -->
                <div *ngIf=!forgotPassword @flyInOut fxLayout='column' fxLayoutGap="50px" fxLayoutGap.xs="50px">
                        <div fxFlex class="top2" fxLayoutAlign="center">Account recovery </div>
                        <div fxFlex fxLayoutAlign="center" class="fields_empty">
                                {{confirmPassword}}
                        </div>
                        <mat-form-field fxLayout='column' fxFlex fxLayoutAlign="center" fxFlex="50">
                                <input matInput placeholder="Email" #confirmEmail="ngModel" 
                                [(ngModel)]="reset.email">
                        </mat-form-field>
                        <div fxLayout='row' fxLayout.xs='column' fxLayoutAlign='space-between'>
                                <a mat-button (click)='return()'>Back</a>
                                <button mat-raised-button (click)='forgotPasswordLink()' 
                                color="primary">Next</button>
                        </div>
                </div>
        </mat-card>
</div>