<div fxLayout='row'fxLayout.xs='row' fxLayout.sm='row' fxLayoutAlign="space-between" fxLayout.md='row' >
<div fxFlex=10 fxFlex.xs=0 fxFlex.sm=0>

</div>
<div fxFlex fxLayout='column' fxLayoutAlign='center' fxFlex.xs=100 fxFlex.sm=100 fxLayout.xs='column' >
<mat-card style="margin-top:10px;width: 900px" [ngStyle]="{'background-color': color }">
  <div  fxLayout='row'>
    <div fxFlex>
      <mat-card-title>{{title}}</mat-card-title>
      <mat-card-subtitle>{{description}}</mat-card-subtitle>
      <div class="check-list" *ngFor='let list of checkList'>
          <div *ngIf='list.status == "open" && list.isDeleted == false'>
              <mat-checkbox (click)="$event.stopPropagation();" class="list-check-box" 
                (click)='updateChecklist(list,index)'>
              </mat-checkbox>{{list.itemName}}
          </div>
        </div>
      
        <div class="check-list" *ngFor='let list of checkList'>
           <div  *ngIf='list.status == "close" && list.isDeleted == false'>
              <mat-checkbox class="list-check-box"
               (click)="$event.stopPropagation();" (click)='updateChecklist(list,index)' [checked]='true'> </mat-checkbox>
              <span><del>{{list.itemName}}</del></span>  
           </div>
          </div>
    </div>
    <div fxFlex=25 fxLayout='column'>
      <div fxLayoutAlign='end'>
          <button mat-button routerLink="/home/notes">Close</button>
      </div>
        
      
    </div>
  </div>
  <hr>
  <div *ngIf='questionAndAnswers.length != 0'>
    <div>
      Question Asked
    </div>
    <p style="opacity:0.5">
      {{questionAsked.message}}
    </p>
  </div>
  <div *ngIf='questionAndAnswers.length == 0'>
      <div>
       No Question Asked
      </div>
      <div fxLayout='row'>
          <div fxFlex=80 (keyup.enter)="onEnter(newQuestion)" contenteditable="true" 
          [textContent]="newQuestion" (input)="newQuestion=$event.target.innerText"
           placeholder="Enter a Question?">
       </div>
       <div fxFlex fxLayoutAlign='end'>
          <button mat-button (click)="onEnter(newQuestion)">Save</button>
       </div>
      </div>
     
    </div> 
</mat-card>
<div style="overflow-y: scroll">
<div fxLayout='column'  style="margin-top:20px;padding: 10px;">
    <div *ngIf='questionAndAnswers.length != 0'>
      <!-- <div *ngFor = 'let question of questionAndAnswers'> -->
          <div fxLayout='row' fxLayoutGap.xs=25px> 
              <div fxFlex=5 *ngIf='imageUrl(questionAsked)'>
                <button *ngIf='savedUrl == ""' mat-mini-fab>
                  {{firstName | titlecase | slice:0:1}}
                </button>
                <button mat-card-avatar *ngIf='savedUrl != ""' 
                  [ngStyle]="{'background-image': 'url(' + url + ')','background-size': 'cover'}"
                  mat-mini-fab>
                </button>
              </div>
              <div fxFlex fxLayoutGap=0px  class="details" fxLayout='column'>
                <span class="display-text-size">
                  {{firstName}} {{lastName}} 
                </span>
                <div fxLayout='row' fxLayoutGap='10px'>
                    <div class="display-text">
                        {{questionAsked.message}}
                    </div>
                    <div fxFlex=25 fxLayout='column'>
                      <div fxFlex>

                      </div>
                      <div fxFlex fxLayout='row' fxLayoutGap='10px'>
                          <div class="cursor-pointer">
                              <mat-icon (click)='showReply= questionAsked.id' style="color:black">reply</mat-icon>
                            </div>
                            <div style="padding:2px" style="color:black;font-size: 12px" class="cursor-pointer">
                                <mat-icon (click)='like(questionAsked.id)' >thumb_up</mat-icon>{{questionAsked.like.length}}
                            </div>
                            <div style="padding:2px">
                              <a *ngFor="let item of starList; let i=index " class="cursor-pointer" (click)="setStar(i)">  
                                <i class="large material-icons " [ngClass]="{'icon-yellow':!item,'icon-brown':item}">star</i>   
                               </a>  
                            </div>
            
                            <div style="padding:2px"  class="cursor-pointer">
                                <mat-icon style="color:black">keyboard_arrow_down</mat-icon>
                            </div>
                      </div>
                       
                    </div>
                   
                  
                </div>
    
                <div fxLayout='column' *ngIf='showReply == questionAsked.id'>
                    <div  contenteditable="true" 
                    [textContent]="replyAnswer" style="color:black;width: 880px" (input)="replyAnswer=$event.target.innerText"
                     placeholder="Write your comment">   
                </div>
               
                <div >
                    <hr>
                    <div fxLayoutAlign='end'>
                        <button (click)='reply(questionAsked.id)' mat-raised-button>Reply</button>
                    </div>
                 
                </div>
              </div> 
            </div>
      <!-- </div> -->
      </div>   
  </div>
  </div>
<div fxLayout='column'  style="margin-top:20px;padding: 10px;">
  <div *ngIf='questionAndAnswers.length != 0'>
    <div style="margin-bottom:10px" *ngFor = 'let question of questionAndAnswers; let i=index'>
        <div *ngIf="i != 0 && question.parentId == questionAsked.id" > 
          <div fxLayout='row' fxLayoutGap.xs=25px>
            <div fxFlex=5 *ngIf='imageUrl(question)'>
              <button *ngIf='savedUrl == ""' mat-mini-fab>
                {{question.user.firstName | titlecase | slice:0:1}}
              </button>
              <button mat-card-avatar *ngIf='savedUrl != ""' 
                [ngStyle]="{'background-image': 'url(' + url + ')','background-size': 'cover'}"
                mat-mini-fab>
              </button>
            </div>
            <div fxFlex fxLayoutGap=0px  class="details" fxLayout='column'>
              <span class="display-text-size">
                {{question.user.firstName}} {{question.user.lastName}} 
              </span>
              <div fxLayout='row' fxLayoutGap='10px'>
                  <div [innerHTML]=" question.message | safeHtml" class="display-text-answer">
                     
                  </div>
                  <div fxFlex=20 fxLayout='column'>
                    <div fxFlex>

                    </div>
                    <div fxFlex fxLayout='row' fxLayoutGap='10px'>
                        <div style="padding:2px"  class="cursor-pointer">
                            <mat-icon (click)='showReply= question.id' style="color:black">reply</mat-icon>
                          </div>
                          <div style="padding:2px" style="color:black;font-size: 12px" class="cursor-pointer">
                              <mat-icon (click)='like(question.id)' >thumb_up</mat-icon>{{question.like.length}}
                          </div>
                          <div style="padding:2px">
                            <a *ngFor="let item of starList; let i=index " class="cursor-pointer" (click)="setStar(i)">  
                              <i class="large material-icons " [ngClass]="{'icon-yellow':!item,'icon-brown':item}">star</i>   
                             </a>  
                          </div>
          
                          <div style="padding:2px"  class="cursor-pointer">
                              <mat-icon style="color:black">keyboard_arrow_down</mat-icon>
                          </div>
                    </div>
                      
                  </div>
              </div>
  
              <div fxLayout='column' *ngIf='showReply == question.id'>
                  <div  contenteditable="true" 
                  [textContent]="replyAnswer" style="color:black;width: 880px" (input)="replyAnswer=$event.target.innerText"
                   placeholder="Write your comment">   
              </div>
             
              <div >
                  <hr>
                  <div fxLayoutAlign='end'>
                      <button (click)='reply(question.id)' mat-raised-button>Reply</button>
                  </div>
               
              </div>
            </div> 
          </div>
          

    </div>

    <div style="margin-left:50px" *ngFor = 'let questionNested of questionAndAnswers; let j=index'>
        <div *ngIf="j != 0 && questionNested.parentId == question.id">
            <div style="margin-top:20px" fxLayout='row' fxLayoutGap.xs=25px>
                <div fxFlex=5 *ngIf='imageUrl(questionNested)'>
                  <button *ngIf='savedUrl == ""' mat-mini-fab>
                    {{questionNested.user.firstName | titlecase | slice:0:1}}
                  </button>
                  <button mat-card-avatar *ngIf='savedUrl != ""' 
                    [ngStyle]="{'background-image': 'url(' + url + ')','background-size': 'cover'}"
                    mat-mini-fab>
                  </button>
                </div>
                <div fxFlex fxLayoutGap=0px  class="details" fxLayout='column'>
                  <span class="display-text-size">
                    {{questionNested.user.firstName}} {{questionNested.user.lastName}} 
                  </span>
                  <div fxLayout='row' fxLayoutGap='10px'>
                      <div [innerHTML]=" questionNested.message | safeHtml" class="display-text-answer">
                         
                      </div>
                      <div fxFlex=25 fxLayout='column'>
                        <div fxFlex>
    
                        </div>
                        <div fxFlex fxLayout='row' fxLayoutGap='10px'>
                            <div style="padding:2px"  class="cursor-pointer">
                                <mat-icon (click)='showReply= questionNested.id' style="color:black">reply</mat-icon>
                              </div>
                              <div style="padding:2px" style="color:black;font-size: 12px" class="cursor-pointer">
                                  <mat-icon (click)='like(questionNested.id)' >thumb_up</mat-icon>{{questionNested.like.length}}
                              </div>
                              <div style="padding:2px">
                                <a *ngFor="let item of starList; let i=index " class="cursor-pointer" (click)="setStar(i)">  
                                  <i class="large material-icons " [ngClass]="{'icon-yellow':!item,'icon-brown':item}">star</i>   
                                 </a>  
                              </div>
              
                              <div style="padding:2px"  class="cursor-pointer">
                                  <mat-icon style="color:black">keyboard_arrow_down</mat-icon>
                              </div>
                        </div>
                          
                      </div>
                  </div>
      
                  <div fxLayout='column' *ngIf='showReply == questionNested.id'>
                      <div  contenteditable="true" 
                      [textContent]="replyAnswer" style="color:black;width: 880px" (input)="replyAnswer=$event.target.innerText"
                       placeholder="Write your comment">   
                  </div>
                 
                  <div >
                      <hr>
                      <div fxLayoutAlign='end'>
                          <button (click)='reply(questionNested.id)' mat-raised-button>Reply</button>
                      </div>
                   
                  </div>
                </div> 
              </div>
        </div>
        <!-------------------------------- Answers reply ---------------------------------->
        <div style="margin-left:50px" *ngFor = 'let answersNested of questionAndAnswers; let j=index'>
            <div *ngIf="j != 0 && answersNested.parentId == questionNested.id">
                <div style="margin-top:20px" fxLayout='row' fxLayoutGap.xs=25px>
                    <div fxFlex=5 *ngIf='imageUrl(answersNested)'>
                      <button *ngIf='savedUrl == ""' mat-mini-fab>
                        {{answersNested.user.firstName | titlecase | slice:0:1}}
                      </button>
                      <button mat-card-avatar *ngIf='savedUrl != ""' 
                        [ngStyle]="{'background-image': 'url(' + url + ')','background-size': 'cover'}"
                        mat-mini-fab>
                      </button>
                    </div>
                    <div fxFlex fxLayoutGap=0px  class="details" fxLayout='column'>
                      <span class="display-text-size">
                        {{answersNested.user.firstName}} {{answersNested.user.lastName}} 
                      </span>
                      <div fxLayout='row' fxLayoutGap='10px'>
                          <div [innerHTML]=" answersNested.message | safeHtml" class="display-text-answer">
                             
                          </div>
                          <div fxFlex=25 fxLayout='column'>
                            <div fxFlex>
        
                            </div>
                            <div fxFlex fxLayout='row' fxLayoutGap='10px'>
                                <div style="padding:2px"  class="cursor-pointer">
                                    <mat-icon (click)='showReply= answersNested.id' style="color:black">reply</mat-icon>
                                  </div>
                                  <div style="padding:2px" style="color:black;font-size: 12px" class="cursor-pointer">
                                      <mat-icon (click)='like(answersNested.id)' >thumb_up</mat-icon>{{answersNested.like.length}}
                                  </div>
                                  <div style="padding:2px">
                                    <a *ngFor="let item of starList; let i=index " class="cursor-pointer" (click)="setStar(i)">  
                                      <i class="large material-icons " [ngClass]="{'icon-yellow':!item,'icon-brown':item}">star</i>   
                                     </a>  
                                  </div>
                  
                                  <div style="padding:2px"  class="cursor-pointer">
                                      <mat-icon style="color:black">keyboard_arrow_down</mat-icon>
                                  </div>
                            </div>
                              
                          </div>
                      </div>
          
                      <div fxLayout='column' *ngIf='showReply == answersNested.id'>
                          <div  contenteditable="true" 
                          [textContent]="replyAnswer" style="color:black;width: 880px" (input)="replyAnswer=$event.target.innerText"
                           placeholder="Write your comment">   
                      </div>
                     
                      <div >
                          <hr>
                          <div fxLayoutAlign='end'>
                              <button (click)='reply(answersNested.id)' mat-raised-button>Reply</button>
                          </div>
                       
                      </div>
                    </div> 
                  </div>
            </div>
          </div>
    
      
      <!---------------------------- End of Answers Reply --------------------------------->
      </div>


    
    </div>
    </div>
      
</div>
</div>
</div>
</div>
</div>
<div fxFlex=10 fxFlex.xs=0 fxFlex.sm=0>

  </div>