

@import 'src/sass/variable';
@import 'src/sass/mixin';
[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block;
    opacity: 0.5;
  } 
    
  div[contenteditable=true] { 
    @include out-line;
    margin-top: 10px
  }
.list-check-box {
    margin-right:10px;
}

.blur {
  opacity:0.5
}
.display-text-size {
  @include font(#000000,10px,(arial,sans-serif));
  cursor: default;
}
.display-text{
  @include font(#000000,20px,(arial,sans-serif));
  cursor: default;
}

.display-text-answer{
  @include font(#000000,15px,(arial,sans-serif));
  cursor: default;
}

:host h3 {
  @include font(#000000,15px,(arial,sans-serif));
}
.details {
  @include padding(5px);
}

i.icon-yellow {
  color:#ffc34d;
  @include md-icon-size(15px);
}
i.icon-brown {
  color:rgb(207, 200, 200);
  @include md-icon-size(15px);
}

i.icon-brown:hover {
  color:#ffc34d
}

.cursor-pointer {
  cursor: pointer;
}

mat-icon {
  @include md-icon-size(15px);
}

.like-icon {
  @include md-icon-size(15px);
 
}


::ng-deep.rating {
margin-top: -20px
} 

.card-details {
  margin-top:10px;
  width: 900px
}

@media all and (max-width: 600px) and (min-width: 320px) {
  .card-details {
    margin-top:10px;
    width:90%;
  }
}

.question-container{
  overflow-y: scroll;
  width: 950px
}

@media all and (max-width: 600px) and (min-width: 320px) {
  .question-container{
    overflow-y: scroll;
    width: 100%
  }
}

