::ng-deep .mat-form-field-underline {
    display: none;
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; /* For Firefox */
   
  }
  
  div[contenteditable=true] {
    outline: none;
  }

  .child-links {
    margin-left:20px;
    font-size: 12px;
    overflow-x: hidden;
  
  }
 
  .content-scroll {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
   
  }

  