<div>

  <div mat-dialog-title>
      <div   contenteditable="true" placeholder="Title"> </div>
  
      <span style="position:fixed"><img src="../../../assets/images/pin.svg"></span>
    
  </div>
  
  <div mat-dialog-content>
    <!-- <mat-form-field > -->
      <!-- <input style="background: transparent;" contenteditable="true" matInput type="text" placeholder="Take a note..." > -->
    <div cdkFocusInitial contenteditable="true" placeholder="Take a note...">

    </div>
    <!-- </mat-form-field> -->
  </div>
  <!-- <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
  </div> -->
</div>


    
 