<mat-card fxFlex [ngStyle] = "{'background-color': backGroundColor }" style=" width:50%; ;position: relative;padding: 5;border-radius: 10px">
  <mat-card-content>
    <div fxLayout='row' fxLayout.xs='row'>
      <div fxFlex=98 style=" font-weight: bold" placeholder="Title" contenteditable="true" (input)="notesEditContent.title=$event.target.innerText">{{data.notesData.title}}</div>
      <div fxFlex class="icons" matTooltip="Pin note"><img src="../../../assets/images/pin.svg"></div>
    </div>
    <div cdkFocusInitial  placeholder="Take a note..." style="margin-top:20px" contenteditable="true" (input)="notesEditContent.description=$event.target.innerText">{{data.notesData.description}}</div>
    <div style="margin-top:10px">
        <mat-chip-list>
          <div *ngFor='let label of labelListArray'>
              <mat-chip *ngIf='label.isDeleted == false'>
              {{label.label}}<span  style="margin-top:5px"><mat-icon (click)='removeLabel(label)' matChipRemove
              >cancel</mat-icon></span></mat-chip> 
          </div>
         

        </mat-chip-list>
      </div>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayout='row' fxLayout.xs='row'>
      <div fxFlex=7 class="icons">
        <app-remind-icon></app-remind-icon> 
      </div>
      <div fxFlex=7 class="icons">
        <app-collaborator-icon></app-collaborator-icon>
      </div>
      <div fxFlex=7 class="icons">
        <app-color-icon (colorCodeEvent)="colorEventClicked($event)" [notesDetails]="data.notesData"></app-color-icon>
      </div>
      <div fxFlex=7 class="icons">
        <app-image-icon></app-image-icon>
      </div>
      <div fxFlex=7 class="icons">
        <app-archive-icon></app-archive-icon>
      </div>
      <div fxFlex=7 class="icons">
        <app-more-icon (labelAdd)="childEventClicked($event)" [notesDetails]="data.notesData"></app-more-icon>
      </div>
      <div fxFlex fxLayoutAlign="end" class="icons">
        <button mat-button [mat-dialog-close]="notesEditContent">Close</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>


