::ng-deep .mat-form-field-underline {
    display: none;
}

[contenteditable=true]:empty:before{
    content: attr(placeholder);
    display: block; 
   
  } 
  
  div[contenteditable=true] {
    outline: none;
  }
  
  .strike {   
    outline:none;
    border:none;
    width:480px;
    text-decoration: line-through 
  }

  .un-strike {   
    outline:none;
    border:none;
    width:480px;
  }