<div fxLayout='column' fxLayout.xs='column' fxLayoutAlign="center center"  class="container">

    <mat-card  fxLayout='column' fxFlex='50' fxFlex.xs="100" class="mat-card" fxLayoutGap='20px'fxLayoutGap.xs='0px'>
        
                <div class="register-top" fxLayoutAlign="center">
                        <span class="registertop1_1">f</span>
                      <span class="registertop1_2">u</span>
                      <span class="registertop1_3">n</span>
                      <span class="registertop1_4">d</span>
                      <span class="registertop1_5">o</span>
                      <span class="registertop1_6">o</span>
                      <span class="registertop1_1">N</span>
                      <span class="registertop1_2">o</span>
                      <span class="registertop1_3">t</span>
                      <span class="registertop1_4">e</span>
                      <span class="registertop1_5">s</span>
                    </div>
                    <p fxLayoutAlign="center">Password Recovery </p>

        <div fxLayoutAlign="center" class="fields_empty">
          {{ifEmpty}}
        </div>
      
<div fxLayout='column' fxLayoutGap="5px" fxLayoutGap.xs="0px" fxLayout.xs='column'>
  <mat-form-field  >
      <input type="password" matInput placeholder="New password" 
      [(ngModel)]="newData.newPassword">
 
    </mat-form-field>

    <mat-form-field >
            <input matInput type="password" placeholder="Confirm password"   
              [(ngModel)]="confirmNewPassword">
             
          </mat-form-field>
           
</div>                                                                                  

  <div fxLayout='row' fxLayout.xs = 'row' fxLayoutAlign="center"  >
       
        <button mat-raised-button  class = 'next_button' (click)="setNewPassword()" >Next</button>
        
    </div> 
  

    </mat-card>

</div>
