.container {
    height: 100vh;
}


.register-top { 
    font-size: 25px;
}
.registertop1_1 {
    color: #3399ff
}

.registertop1_2 {
    color: #ff0000
}

.registertop1_3 {
    color: #ff6600
}
.registertop1_4 {
    color: #3399ff
}

.registertop1_5 {
    color: #33cc33
}

.registertop1_6 {
    color: #ff0000
}

.mat-card {

    width: 400px;
} 

.next_button {
    color: aliceblue;
    background-color: #3399ff
}

.fields_empty {
    color: #ff0000;
    font-size: 12px;
}