@import 'src/sass/mixin';
@import 'src/sass/variable';

.container {
    height: 100vh;
}

.register-top { 
    @include font(#000000,25px,(arial,sans-serif)); 
}

.mat-card {
    width: 400px;
} 

.next_button {
    color: $white;
    @include background-color(#3399ff);
}
