<div fxLayout='row' fxLayoutAlign="center center" 
    fxLayoutAlign.xs="center"  fxLayout.xs="column"  class="container">

    <mat-card  fxLayout='column' fxLayout.xs='column' fxFlex="40"
          fxFlex.lg="40" fxFlex.md="40" fxFlex.xs="100">
        
                <div class="register-top" fxLayoutAlign="center"> 
                        <span class="top1_1">f</span>
                      <span class="top1_2">u</span>
                      <span class="top1_3">n</span>
                      <span class="top1_1">d</span>
                      <span class="top1_4">o</span>
                      <span class="top1_2">o</span>
                      <span class="top1_1">N</span>
                      <span class="top1_2">o</span>
                      <span class="top1_3">t</span>
                      <span class="top1_1">e</span>
                      <span class="top1_4">s</span>
                    </div>
                    <p fxLayoutAlign="center">Password Recovery </p>

        <div fxLayoutAlign="center" class="fields_empty">
          {{ifEmpty}}
        </div>
      
<div fxLayout='column' fxLayoutGap="50px" fxLayoutGap.xs="50px">
  <mat-form-field fxLayout='column' fxFlex fxLayoutAlign="center" fxFlex="50">
      <input type="password" matInput placeholder="New password" 
      [(ngModel)]="newData.newPassword">
      
             
    </mat-form-field>
 
    <mat-form-field fxLayout='column' fxFlex fxLayoutAlign="center" fxFlex="50">
<input matInput type="password" placeholder="Confirm password"   
      [(ngModel)]="confirmNewPassword">
          </mat-form-field>
           
</div>                                                                                  

  <div fxLayout='row' fxLayout.xs = 'row' fxLayoutAlign="center"  >
       
        <button mat-raised-button  class = 'next_button' (click)="setNewPassword()" >Next</button>
        
    </div> 
  

    </mat-card>

</div>
